@import "leaflet/dist/leaflet.css";
@import url('https://fonts.cdnfonts.com/css/cascadia-code');


html {
  font-family: "Cascadia Code", Consolas, monospace;
  letter-spacing: 0.01em;
  margin: 0;
}

body {
  background-color: #ffffff ;
  color: #111111 ;
  max-width: 90%;
  height: 40vh;
  margin: 0 auto;
  font-size: 18px;
}

svg {
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

