@import "leaflet/dist/leaflet.css";
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
  --bg-color: #e8e8e8;
  --font-color: #eaeaea;
}


html {
  font-family: "Cascadia Code", Consolas, monospace;
  letter-spacing: 0.01em;
  text-box:antiquewhite;
  margin: 0;
}

body {
  background-color: var(--bg-color) ;
  max-width: 90%;
  height: 40vh;
  margin: 0 auto;
  font-size: 18px;
}

svg {
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
