@import "leaflet/dist/leaflet.css";
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
  --bg-color: #e8e8e8;
  --border-color: black;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

html {
  font-family: "Cascadia Code", Consolas, monospace;
  letter-spacing: 0.01em;
}

body {
  background-color: var(--bg-color) ;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: column;
  /* background: blueviolet; */
  /* Viewport Variables */
  height: 100dvh;
  width: 100dvw;
  padding-left: 5%;
  padding-right: 5%;
}

svg {
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
